* {
	margin: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	background: #c9cada;
	color: #009;
	font-family: 'Open Sans', sans-serif;
}

section {
	height: 100vh;
	padding: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section#s1 h1 {
	color: blue;
	font-family: 'Noto Serif', serif;
	font-size: 120px;
	margin-bottom: 32px;
}


section#s2 {
	border: solid 64px #9a88bb;
}

section#s2 div.grid {
	width: 400px;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}

section#s2 div.tile {
	width: 100px;
	height: 100px;
	border-radius: 6px;
	background: #0005ff;
	transition: 1s cubic-bezier(0.15, 1, 0.25, 1);
}

section#s2 div.tile:nth-child(3n+1) {
	background: #eff;
}

section#s2 div.tile:nth-child(3n+2) {
	background: #fc0;
}




section#s3 {
	background: #eef;
}
section#s3 div.grid {
	display: flex;
	flex-wrap: wrap;
}
section#s3 div.tile div.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
