
* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 250px;
    margin: 10px;
    padding: 16px;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
}
.card.red {
    color: #f03;
}
