
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
	background-color: black;
	overflow: hidden;
}

body > canvas {
	transition: opacity .2s;
}

div.UI {
	z-index: 1;
	position: absolute;
	padding: 32px;
}
div.UI h1 {
	font-size: 48px;
}
div.UI label {
    display: inline-block;
	font-size: 14px;
}
